{% extends 'base.html' %}
{% block title %}Confirmar pedido{% endblock %}
{% load humanize %}

{% block content %}
<div class="container p-6 mx-auto mt-10 bg-white rounded-lg shadow">
    <h1 class="mb-4 text-2xl font-bold">Resumen de tu pedido</h1>

    {% if error %}
        <p class="text-red-500">{{ error }}</p>
    {% endif %}

    {% if cart %}
        <div class="bg-white p-4 rounded-lg shadow-md flex justify-around items-center text-gray-800 font-medium">
            <div>SUBTOTAL: ${{ cart.get_subtotal |intcomma}}</div>
            <div>IVA (19%): ${{ cart.get_iva|intcomma }}</div>
            <div class="font-bold text-lg text-green-700">TOTAL: ${{ cart.get_total_price|intcomma}}</div>
        </div>

        
        <table class="w-full border-collapse">
            <thead>
                <tr class="bg-red-600">
                    <th class="p-2 text-left">Producto</th>
                    <th class="p-2 text-center">Cantidad</th>
                    <th class="p-2 text-right">Precio</th>
                    <th class="p-2 text-right">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    <tr class="border-b">
                        <td class="p-2">{{ item.product.name }}</td>
                        <td class="p-2 text-center">{{ item.quantity }}</td>
                        <td class="p-2 text-right">${{ item.price |intcomma }}</td>
                        <td class="p-2 text-right">${{ item.total_price |intcomma }}</td>
                    </tr>
                {% endfor %}
            </tbody>
           
        </table>

       

        <div class="mt-6 text-right">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="px-4 py-2 text-white bg-green-600 rounded hover:bg-blue-700 font-bold">
                    Confirmar Pedido
                </button>
            </form>
        </div>
    {% else %}
        <p>Tu carrito está vacío.</p>
    {% endif %}
</div>
{% endblock %}
