{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
        theme: {
        extend: {
            colors: {
            primary: '#F0411D',
            secondary: '#f59e0b',
            },
        },
        },
    }
    </script>
    <title>{% block title %}ELECTRICOS SHOP{% endblock %}</title>    

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="flex flex-col min-h-screen text-gray-800 bg-gray-100">

    <header class="flex flex-col items-center justify-between px-6 py-3 bg-[#FF2424]">
        
        <div class="flex items-center justify-between w-full">

            <div class="flex items-center justify-around w-[40%] gap-4">
                <i class="text-3xl text-yellow-300 fa-solid fa-plug"></i>
                <h1 class="px-4 py-1 text-3xl font-bold text-white">
                    Nacional de Electricos HHH LIDA
                </h1>
            </div>    

        <div class="flex items-center justify-around w-[60%] gap-4 ml-4 text-xl text-white ">                     
                <form id="searchForm" action="{% url 'products:search-results' %}" method="GET" class="flex items-center w-full">
                    <div class="relative w-1/2 flex flex-col">
                        <div class="flex">
                            <input
                                name="q"
                                id="searchInput"
                                class="w-[90%] px-4 py-1 text-black border border-gray-400 rounded-full focus:outline-none"
                                type="text"
                                placeholder="Buscar..."
                                value="{{ query|default:'' }}"
                                autocomplete="off"/>
                            <button type="submit" class="px-4 py-2 text-white rounded-r hover:bg-red-600">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                        <div id="searchDropdown" class="hidden absolute top-full left-0 right-0 mt-1 bg-white border border-gray-200 rounded-lg shadow-xl max-h-96 overflow-y-auto z-50"></div>

                    </div>
                </form>

            

            <ul class="flex gap-6 list-none w-1/2" > 
                <a href="{% url 'cart:cart_detail' %}" class="relative hover:underline"><i  class="relative fa-solid fa-cart-shopping"></i>                    
                    {% if request.session.cart %} 
                        <span class="absolute px-2 text-sm text-white bg-red-500 rounded-full -top-2 -right-3">
                            {{ request.session.cart|length }}
                        </span>
                    {% endif %}
                </a>                   
                {% if user.is_authenticated %}                    
                    <!-- <li><span class="text-sm"><i class="fa-solid fa-user"></i> {{ user.username }}</span></li> -->
                    
                    <li><a href="{% url 'accounts:profile' %}" class="hover:text-gray-200">
                        <i class="fa-solid fa-user"> {{ user.username }}</i>
                    </a></li>

                    <li><a href="{% url 'orders:profile_orders' %}" class="hover:text-gray-200">Mis Pedidos</a></li>
                    <li>
                        <form method="post" action="{% url 'accounts:logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="px-3 py-1 text-sm text-white bg-red-500 rounded hover:bg-red-600">Salir</button>
                        </form>
                    </li>

                {% else %}
                    <li><a href="{% url 'accounts:login' %}" class="hover:text-gray-200">Ingresar</a></li>
                    <li><a href="{% url 'accounts:register' %}" class="hover:text-gray-200">Registrarse</a></li>
                {% endif %}    

            </ul> 
        </div>

    </div>
        

        <div class="mt-2">
            <nav class="space-x-20 text-xl">                
                <a href="{% url 'home' %}" class="font-bold hover:underline">Inicio</a>
                <a href="{% url 'products:product_list' %}" class="font-bold hover:underline">Productos</a>
                <a href="{% url 'products:products_by_category' 'cables' %}" class="font-bold hover:underline">Cables</a>
                <a href="{% url 'products:products_by_category' 'tomacorrientes' %}" class="font-bold hover:underline">Tomacorrientes</a>
                <a href="{% url 'products:products_by_category' 'iluminacion' %}" class="font-bold hover:underline">Iluminación</a>                
            </nav>
        </div>
    </header>

    <main class="container flex-grow py-8 mx-auto">

        <!-- bloque que muestra los mensajes de error -->
        {% if messages %}
            
            <!-- //////////////////////////////////////////////////////////////// -->
            <div  id="alerta" role="alert" class="rounded-md border border-gray-300 bg-white shadow-sm mb-10">
                <div class="flex items-start gap-4">                    

                    <div class="flex-1">
                        <p class="mt-0.5 text-sm text-gray-700">
                            <div class="container mt-4">
                                {% for message in messages %}
                                    <div class=" flex {% if message.tags != 'error' %} hidden {% else %}  {% endif %}">                                    
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-600">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                         </svg>
                                        <strong class="font-medium text-gray-900"> Sin Stock !</strong>
                                    </div>

                                    <div class="p-3 mb-3 text-gray-700 font-bold rounded 
                                        {% if message.tags == 'error' %}  bg-red-500 {% else %} bg-green-500 {% endif %}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>

                        </p>
                    </div>

                    <button id="cerrar" class="-m-3 rounded-full p-3.5 text-gray-500 transition-colors hover:bg-gray-50 hover:text-gray-700" type="button" aria-label="Dismiss alert">
                    <span class="sr-only">Dismiss popup</span>

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                    </button>
                </div>
            </div>
            
        {% endif %}


        {% block content %}{% endblock %}

    
    </main>

    <footer class="py-4 mt-auto text-center text-white bg-gray-800">
        <p>© 2025 Mi Ecommerce</p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>


